<div class="row">
  <div class="col-md-6 background-img w3-container w3-center w3-animate-top">
  </div>
  <div class="col-md-6 pos w3-container w3-center w3-animate-bottom">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Información de contacto</h1>
        <hr class="text-decorator">
      </div>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><i class="material-icons">phone</i></td>
          <td><a href="tel:7711437287">7711437287</a></td>
        </tr>
        <tr>
          <td><i class="material-icons">email</i></td>
          <td>he195621@uaeh.edu.mx</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
