.row{
  height: 100vh;
}

.col-md-6{
  padding: 0px;
}

.background-img{
  background-image: url('/../assets/img/coffee-about.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  position: fixed;
  width: 45.8vw;
  height: 100%;
}

.pos{
  left: 50%;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
}

tr {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

th {
  justify-content: space-between;
  display: flex;
}

.pad{
  padding-right: 10px
}

/* Responsive */
@media only screen and (max-width: 500px) {
  .col-md-6.background-img.w3-container.w3-center.w3-animate-bottom{
    display: block;
    position: inherit;
    width: 100%;
    height: 44%;
  }

  .col-md-6.pos.w3-container.w3-center.w3-animate-top{
    left: 10%;
    width: 90%;
  }
}
