<div class="row">
  <div class="col-md-6 background-img w3-container w3-center w3-animate-bottom">
  </div>
  <div class="col-md-6 pos w3-container w3-center w3-animate-top">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Acerca de mi</h1>
        <hr class="text-decorator">
        <p class="lead">
          Mi nombre es Luis Armando Hernández Islas, soy egresado de
          la <a href="https://www.uaeh.edu.mx/" target="_blank">Universidad Autónoma del Estado de Hidalgo</a>,
          en la Licenciatura de Sistemas Computacionales, me considero una persona pragmática capaz de adaptarse
          a los cambios y que disfruta de explorar nuevas tecnologías. Me encanta el
          desarrollo web pretendo llegar a ser Full Stack developer y convertirme en un
          google developer expert.
        </p>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>
              <i class="material-icons pad">child_care</i>
              <p> Fecha de nacimiento</p>
            </th>
            <th>
              25 de Agosto de 1992
            </th>
          </tr>
          <tr>
            <th>
              <i class="material-icons pad">g_translate</i>
              <p> Idiomas</p>
            </th>
            <th>
              Ingles y Español
            </th>
          </tr>
          <tr>
            <th>
              <i class="material-icons pad">videogame_asset</i>
              <p> Hobbies</p>
            </th>
            <th>
              Video games, running
            </th>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
