<div class="row">
  <div class="col-md-6 background-img w3-container w3-center w3-animate-top">
    <div class="text">
      <div class="name">
        LUIS
      </div>
    </div>
  </div>
  <div class="col-md-6 background-img-2 pos w3-container w3-center w3-animate-bottom">
    <div class="text-left">
      <div class="name-left">
        HERNÁNDEZ
      </div>
    </div>
    <div class="text-up">
      <div class="name-up">
        Lic. Sistemas Computacionales
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-lg" role="group">
        <a href="" class="btn btn-light facebook">
          <i class="fa fa-facebook logo" aria-hidden="true"></i>
        </a>
        <a href="" class="btn btn-light twitter">
          <i class="fa fa-twitter logo" aria-hidden="true"></i>
        </a>
        <a href="" class="btn btn-light google">
          <i class="fa fa-google-plus logo" aria-hidden="true"></i>
        </a>
        <a href="" class="btn btn-light linkedin">
          <i class="fa fa-linkedin logo" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/luis92arma" class="btn btn-light github">
          <i class="fa fa-github-alt logo" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
