<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav flex-column">
      <li class="nav-item" routerLinkActive="active">
        <!-- Home -->
        <a class="nav-link btn btn-outline-danger" [routerLink]="['home']"
        data-toggle="home" data-placement="right">
          <i class="material-icons md-48 md-light">home</i>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- About -->
        <a class="nav-link btn btn-outline-danger" [routerLink]="['about']"
        data-toggle="about" data-placement="right">
          <i class="material-icons md-48 md-light">account_box</i>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- education -->
        <a class="nav-link btn btn-outline-danger" [routerLink]="['education']"
        data-toggle="education" data-placement="right">
          <i class="material-icons md-48 md-light">school</i>
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- skills -->
        <a class="nav-link btn btn-outline-danger" [routerLink]="['skills']"
        data-toggle="skills" data-placement="right">
          <i class="material-icons md-48 md-light">build</i>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- contact -->
        <a class="nav-link btn btn-outline-danger" [routerLink]="['contact']"
        data-toggle="contact" data-placement="right">
          <i class="material-icons md-48 md-light">contact_phone</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
