<div class="row">
  <div class="col-md-6 background-img w3-container w3-center w3-animate-bottom">
  </div>
  <div class="col-md-6 pos w3-container w3-center w3-animate-top">
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Experiencia</h1>
          <hr class="text-decorator">
          <h2>Servicio social</h2>
          <p class="lead">
            <strong>4 de Enero al 30 de Junio del 2016</strong><br>
            Desarrollo de sitios web utilizando un sistema de gestion de contenidos
            (<a href="https://es.wordpress.com/">WordPress</a>) e implemetacion de los
            requerimientos del proyecto.
          </p>
        </div>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Habilidades tecnicas</h1>
          <hr class="text-decorator">
          <p class="lead">
          </p>
        </div>
      </div>
    </div>
    <div class="container bar-skills">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          <h4>CSS</h4>
        </div>
        <h4>75%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          <h4>Python</h4>
        </div>
        <h4>70%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          <h4>Django</h4>
        </div>
        <h4>80%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <h4>JavaScript</h4>
        </div>
        <h4>60%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
          <h4>TypeScript</h4>
        </div>
        <h4>64%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
          <h4>Angular</h4>
        </div>
        <h4>65%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          <h4>Git</h4>
        </div>
        <h4>80%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
          <h4>Linux</h4>
        </div>
        <h4>78%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
          <h4>SQL</h4>
        </div>
        <h4>84%</h4>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-custom progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          <h4>HTML</h4>
        </div>
        <h4>90%</h4>
      </div>
    </div>
  </div>
</div>
